<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    RewriteEngine On
    ##Blacklist
    RewriteRule ^config/.* index.php [L,NC]
    RewriteRule ^page/(.*)$ page.php?id=$1 [L,NC]
    RewriteRule ^login/(.*)$ login.php [L,NC]
    RewriteRule ^register/(.*)$ page.php [L,NC]
    ##Whitelist
    RewriteCond %{REQUEST_URI} !\.js$
    RewriteCond %{REQUEST_URI} !\.jpg$
    RewriteCond %{REQUEST_URI} !\.png$
    RewriteCond %{REQUEST_URI} !\.ico$
    RewriteCond %{REQUEST_URI} !\.jpeg$
</IfModule>